@charset "utf-8";
body {
    background-color: black;
    font-family: Consolas, "Andale Mono";
    color: white;
    width: 100%;
    text-align: center;
}

 li {
    margin: auto;
 }

a {
    text-decoration: none;
    color: steelblue;
}

p1 {
    margin: auto;
    width: 40%;
    text-align: center;
}

img {
    clear: both;
    margin: auto;
    size: 20%;
}

button {
    display: block;
    margin: auto;
}